@model HavenGames.Business.Models.Jogo

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/GamesPage.css" asp-append-version="true" />
</head>
<body>
    <h1>Excluir Jogo - @Model.Nome</h1>
    <hr />
    <strong class="atention">ATENÇÃO!</strong>
    <h6 class="title">Deseja excluir @Model.Nome? Após a confirmação a ação não poderá ser desfeita.</h6>
    <br />
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <dl class="row">
                        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Nome) </dt>
                        <dd class="col-sm-8"> @Html.DisplayFor(model => model.Nome) </dd>
                        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Plataforma) </dt>
                        <dd class="col-sm-8"> @Html.DisplayFor(model => model.Plataforma) </dd>
                        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Genero) </dt>
                        <dd class="col-sm-8"> @Html.DisplayFor(model => model.Genero) </dd>
                        <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Descricao) </dt>
                        <dd class="col-sm-8"> @Html.DisplayFor(model => model.Descricao) </dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <img class="img-details img-fluid" src="@Model.Imagem" alt="Imagem do Jogo" />
                </div>

                <form asp-action="Delete">
                    <div class="container-btn">
                        <div class="left"><input type="submit" value="Excluir" class="btn-glass btn-danger" /></div>
                        <div class="right"><a asp-action="Index" class="btn-glass btn-outline-primary">Voltar a Lista</a></div>
                    </div>

                    <input type="hidden" asp-for="Id" />
                </form>




</body>
</html>
