@model HavenGames.Business.Models.Jogo
@{
    ViewData["Title"] = "Detalhes";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/GameDetails.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <h1>JOGO - @Model.Nome</h1>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Nome) </dt>
                    <dd class="col-sm-8"> @Html.DisplayFor(model => model.Nome) </dd>
                    <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Plataforma) </dt>
                    <dd class="col-sm-8"> @Html.DisplayFor(model => model.Plataforma) </dd>
                    <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Genero) </dt>
                    <dd class="col-sm-8"> @Html.DisplayFor(model => model.Genero) </dd>
                    <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.Descricao) </dt>
                    <dd class="col-sm-8"> @Html.DisplayFor(model => model.Descricao) </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <img class="img-details img-fluid" src="@Model.Imagem" alt="Imagem do Jogo" />
            </div>

            <div class="mt-4 col-md-8">
                <a supress-by-claim-name="Jogo" supress-by-claim-value="U" asp-action="Edit" class="btn-glass btn-outline-primary" asp-route-id="@Model?.Id">Editar</a>
            </div>
            <div class="mt-4 col-md-4">
                <a asp-action="Index" class="btn-glass btn-outline-primary">Voltar a lista</a>
            </div>
       
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>