@model HavenGames.Business.Models.Jogo

@{
    ViewData["Title"] = "Detalhes";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/GamesPage.css" asp-append-version="true" />

    <h1>Detalhes</h1>

    <div>
        <h4>Jogo</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Plataforma)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Plataforma)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genero)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genero)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Imagem)
            </dt>
           <img src="@Model.Imagem" />
        </dl>
    </div>
    <div>
        <a asp-action="Edit" class="btn-glass btn-outline-primary" asp-route-id="@Model?.Id">Editar</a> 
        <a asp-action="Index" class="btn-glass btn-outline-primary">Voltar a lista</a>
    </div>
    </head>
    </html>