@using HavenGames.Business.Models 
@model HavenGames.Business.Models.Jogo

@{
    ViewData["Title"] = "Personagens";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/PersonaPage.css" asp-append-version="true" />
</head>
<body>
    <div class="container mt-4">
        <h3>PERSONAGENS - @Model.Nome</h3>
        <br />
        <div>
            <p>
                <a class="btn-glass btn-primary" asp-action="CreatePersonagem" asp-route-id="@Model.Id">Novo personagem</a>
                <a class="btn-glass btn-primary" asp-action="Index" asp-route-id="@Model.Id">Voltar aos jogos</a>
            </p>
        </div>
        <br />


        @(Model.Personagens.Count <= 0 ? "Nenhum personagem foi encontrado" : "")

        @if (Model.Personagens.Count > 0)
        {
            <div class="row">
                @foreach (var personagem in @Model.Personagens)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 card-box">
                            <img src="@personagem.Imagem" class="card-img-top" alt="@personagem.Nome">
                            <div class="card-body">
                                <h5 class="card-title">@personagem.Nome</h5>
                                <p class="card-text">@personagem.Descricao</p>
                                <a class="btn-glass btn-secondary" asp-action="UpdatePersonagem" asp-route-jogoId="@Model.Id" asp-route-personagemId="@personagem.Id">Editar</a>
                                <a class="btn-glass btn-danger" asp-action="DeletePersonagem" asp-route-jogoId="@Model.Id" asp-route-personagemId="@personagem.Id" onclick="return confirm('Tem certeza que deseja excluir este personagem?');">Excluir</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
