@{
    ViewData["Title"] = "Home";
    var index = 0;
}

@model HavenGames.App.ViewModels.HomeViewModel

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

<div class="container text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <h4>Tudo sobre jogos e atualizações</h4>
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>ÚLTIMOS JOGOS</h3>
            <div class="card">
                <img src="~/imgs/GameSkyrim.PNG" class="card-img-top" alt="Jogo 1">
                <div class="card-body">
                    <h5 class="card-title">The Elder Scrolls V Skyrim</h5>
                    <p class="card-text">Um vasto jogo de role-playing (RPG) que se passa no reino fictício de Skyrim, uma das províncias do continente de Tamriel. O jogo se destaca por seu mundo aberto e expansivo, oferecendo aos jogadores a liberdade de explorar uma paisagem diversificada repleta de montanhas, florestas, lagos e cidades vibrantes. Cada região de Skyrim tem sua própria identidade, com culturas, climas e desafios únicos.</p>
                    <a class="btn-glass" asp-area="" asp-controller="Jogos" asp-action="Index">Saiba Mais</a>
                </div>
            </div>

            <h3 class="mt-4">GUIAS PARA JOGAR</h3>
            <div class="card">
                <img src="~/imgs/DicasAndTips.PNG" class="card-img-top" alt="Dicas e Tutoriais">
                <div class="card-body">
                    <h5 class="card-title">Dicas e Tutoriais</h5>
                    <p class="guias-text">Guias e Tutoriais: Passo a passo sobre como realizar tarefas específicas e usar ferramentas. Sugestões úteis relacionadas aos jogos e muito mais.</p>
                    <a class="btn-glass" asp-area="" asp-controller="Home" asp-action="Guide">Saiba Mais</a>
                </div>
            </div>

            <div class="card mt-4"><br />
                <h3>COMENTÁRIOS</h3><br />

                <div id="carouselExampleDark" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>

                    
                    <div class="carousel-inner">
                      @*   <div class="carousel-item active" data-bs-interval="10000">
                            <img src="~/imgs/Feedbacks.PNG" class="d-block w-100 " alt="Imagem Feedbacks">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="username">GamerX</h5>
                                <span class="date">-12 Ago 2024</span>
                                <p class="coment-feed textbox">O jogo está incrível! Adorei a nova atualização e os gráficos estão simplesmente fantásticos. Só sinto falta de um modo cooperativo para jogar com amigos. Espero que isso seja incluído nas próximas atualizações!</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="~/imgs/Feedbacks.PNG" class="d-block w-100" alt="Imagem Feedbacks">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="username">PixelMaster</h5>
                                <span class="date">11 Ago 2024</span>
                                <p class ="coment-feed textbox">Gostei muito da nova mecânica de combate, mas achei alguns inimigos um pouco difíceis demais. Talvez um ajuste na dificuldade possa ajudar. No mais, o jogo está ótimo e super divertido!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/imgs/Feedbacks.PNG" class="d-block w-100" alt="Imagem Feedbacks">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="username">RetroGamer</h5>
                                <span </span>
                                <span class="date">10 Ago 2024</span>
                                <p class="coment-feed textbox">As referências aos jogos clássicos são fantásticas! Senti um pouco de falta de mais personalização nas habilidades dos personagens, mas a experiência geral foi muito positiva. Continuem o bom trabalho!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/imgs/Feedbacks.PNG" class="d-block w-100" alt="Imagem Feedbacks">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="username">FuturePlayer</h5>
                                <span class="date">09 Ago 2024</span>
                                <p class="coment-feed textbox">Adorei a jogabilidade e os novos níveis são desafiadores! No entanto, encontrei alguns bugs que precisam ser corrigidos. Espero que eles sejam resolvidos rapidamente para uma experiência ainda melhor!</p>
                            </div>
                        </div> *@

                        @foreach (var comment in @Model.Comments)
                        {
                            var itemClass = index == 0 ? "carousel-item active" : "carousel-item";

                            <div class="@itemClass" data-bs-interval="10000">
                                <img src="~/imgs/Feedbacks.PNG" class="d-block w-100 " alt="Imagem Feedbacks">

                                <div class="carousel-caption d-none d-md-block">
                                    <h5 class="username">@comment.Nome</h5>
                                    <span class="date">@comment.Inclusao.ToShortDateString()</span>
                                    <p class="coment-feed textbox">@comment.Descricao</p>
                                </div>
                            </div>

                            index++;
                        }

                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>

            </div>
        </div>

        <div class="col-md-6">
            <h3 class="mt-4">EVENTOS ÉPICOS</h3>
            <div class="card mt-4">
                <img src="~/imgs/Cosplay.PNG" class="card-img-top" alt="Cosplay">
                <div class="card-body">
                    <h5 class="card-title">EVENTOS DE COSPLAYS</h5>
                    <p class="event-text">Confira a galeria de fotos dos eventos de Cosplay dos últimos anos.</p>
                    <h5 class="card-title">OUTRAS ATIVIDADES</h5>
                    <p class="event-text">Calendário de Eventos: Informações sobre eventos futuros, webinars, conferências e encontros de Games.</p>
                    <a class="btn-glass" asp-area="" asp-controller="Events" asp-action="Index">Saiba Mais</a>
                </div>
            </div>

            <div class="card mt-4">
                <div id="carouselJogadores" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselJogadores" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselJogadores" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselJogadores" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <h5 class="card-title">Jogadores da Sorte: Ganhadores dos Sorteios</h5>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="~/imgs/Winner.PNG" class="d-block w-100 " alt="Ganhadores">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="textbox">Lucas Pereira</h5>
                                <p class="textbox">Cidade: São Paulo, SP</p>
                                <p class="textbox">Prêmio: Console PlayStation 5</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="~/imgs/Winner.PNG" class="d-block w-100 " alt="Ganhadores">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="textbox">Mariana Costa</h5>
                                <p class="textbox">Cidade: Rio de Janeiro, RJ</p>
                                <p class="textbox">Prêmio: Jogo "The Last of Us Part II</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="~/imgs/Winner.PNG" class="d-block w-100 " alt="Ganhadores">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="textbox">Eduardo Silva</h5>
                                <p class="textbox">Cidade: Belo Horizonte, MG</p>
                                <p class="textbox">Prêmio: Console Xbox Series X</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="~/imgs/Winner.PNG" class="d-block w-100 " alt="Ganhadores">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="textbox">Luiza Martins</h5>
                                <p class="textbox">Porto Alegre, RS</p>
                                <p class="textbox">Prêmio: Jogo "Cyberpunk 2077"</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselJogadores" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselJogadores" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="card mt-4">
                    <img src="~/imgs/Resenhas.PNG" class="card-img-top" alt="Resenhas">
                    <div class="card-body">
                        <h5 class="card-title">Envie Seu Comentário</h5>
                        <form asp-action="CreateComment">
                        
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Descricao" class="control-label"></label>
                                <textarea asp-for="Descricao" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Descricao" class="text-danger"></span>
                            </div>

                            <div class="btn-esp">
                                <input type="submit" value="Enviar" asp-action="CreateComment" class="btn-glass btn-outline-primary" />
                                <a class="btn-glass" asp-area="" asp-controller="Home" asp-action="Resenhas">Veja os comentários</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

