@model IEnumerable<HavenGames.App.ViewModels.EventViewModel>

@{
    ViewData["Title"] = "EVENTOS ÉPICOS";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/IndexEvent.css" asp-append-version="true" />
</head>
<body>
    <div class="container mt-5">
        <h1>EVENTOS ÉPICOS</h1>
        <p>
            <vc:Summary></vc:Summary>
            <a supress-by-claim-name="Events" supress-by-claim-value="C" asp-action="Create" class="btn-glass btn-cad">CADASTRAR NOVO</a>
            <br />
        </p>
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card border-0" style="width: 21rem;">
                        <img class="img-event" src="@Html.DisplayFor(modelItem => item.Imagem)" alt="Card Image">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <p class="card-text">Endereço: @Html.DisplayFor(modelItem => item.Localization)</p>
                            <p class="card-text">Descrição: @Html.DisplayFor(modelItem => item.Description)</p>
                            <div class="row d-flex justify-content-between">
                                <a supress-by-claim-name="Events" supress-by-claim-value="U" asp-action="Edit" asp-route-id="@item.Id" class="btn-glass" style="width: 140px;">Editar</a>
                                <a supress-by-claim-name="Events" supress-by-claim-value="D" asp-action="Delete" asp-route-id="@item.Id" class="btn-glass" style="width: 140px;">Excluir</a>
                           </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>